@import '../../styles/settings.scss';

.component {
  width: 100%;
  display: flex;
  text-align: right;

  input {
    flex-grow: 1;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size ($base-size * 1.5);
    margin: $base-size 0;
    font-family: $font-text;
    border-radius: $radius;
  }
}
